@import 'utilities';
$primary-color: tomato;


*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   overflow: hidden;
}

body{
   line-height: 1.7rem;
   font-size: 17px;
   font-weight: lighter;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header{
   background-color: $primary-color;
   color: white;
}

.header{
   display: flex;
   align-items: center;
   justify-content: space-around;
   padding: 0.7rem;

   h2{
      font-weight: lighter;
      letter-spacing: 0.4rem ;
   }

   ul{
      display: flex;
   }

   li{
      display: inline-block;
      padding: 0 0.5rem;

      a{
         font-size: 0.9rem;
      }
   }
}

section{
   margin-top: 3rem;
   text-align: center;

   h1{
      margin: 2rem 0;
   }
}


.burger-line{
   background-color: white;
   width: 2.3rem;
   height: 0.12rem;
   margin: 0.5rem 0;
   transition: all ease 0.5s;
}

.burger{
   display: none;
}

.toggle .line-1{
   transform: rotate(-45deg) translate(-5px,9px);
   width: 2rem;
}

.toggle .line-2{
   opacity: 0;
}

.toggle .line-3{
   transform: rotate(45deg) translate(-5px ,-10px);
   width: 2rem;
}



@import 'mobile';